Repository jhoblitt/puppet-ipmi, pull requests merged in 2022-09, with the labels that each got.

#33 Set the ipmi service to stopped by default if no ipmi devices
  data/common.yaml
  lib/facter/ipmitool_mc_info.rb
  spec/classes/ipmi_spec.rb
  spec/defines/ipmi_network_spec.rb
  spec/defines/ipmi_snmp_spec.rb
  spec/defines/ipmi_user_spec.rb
  spec/unit/facter/ipmitool_mc_info_spec.rb
Labels: backwards-incompatible

#53 release 4.0.0
  .github/workflows/markdownlint.yaml
  CHANGELOG.md
  REFERENCE.md
  Rakefile
  metadata.json
Labels: skip-changelog

#56 add AlmaLinux and Rocky support
  metadata.json
Labels: enhancement

#57 add EL9 support
  metadata.json
Labels: enhancement

#58 drop debian 8 & 9, ubuntu 14.04 & 16.04 support
  metadata.json
Labels: backwards-incompatible
