Repository jhoblitt/puppet-ipmi, pull requests merged in 2024-09, with the labels that each got.

#79 drop support for EL7 -- EOL
  metadata.json
Labels: backwards-incompatible

#81 drop support for Debian 10 -- EOL
  metadata.json
Labels: backwards-incompatible

#82 Update from voxpupuli modulesync_config
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .puppet-lint.rc
  .rspec
  Gemfile
  spec/spec_helper.rb
Labels: skip-changelog

#78 Add lan channel fact and user channel support
  README.md
  REFERENCE.md
  lib/facter/ipmi.rb
  manifests/network.pp
  manifests/snmp.pp
  manifests/user.pp
  spec/classes/ipmi_spec.rb
  spec/defines/ipmi_network_spec.rb
  spec/defines/ipmi_snmp_spec.rb
  spec/defines/ipmi_user_spec.rb
  spec/unit/facter/ipmi_spec.rb
Labels: enhancement

#83 release 6.0.0
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog

#84 modulesync 9.3.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr_labels.yaml
  .github/workflows/release.yml
  .msync.yml
  Gemfile
Labels: modulesync

#85 More reliably test for current user state
  manifests/user.pp
Labels: enhancement

#87 Provide password capacity parameter to set password command
  manifests/user.pp
Labels: bug

#86 Addition of 'users' facts
  README.md
  lib/facter/ipmi.rb
  spec/unit/facter/ipmi_spec.rb
Labels: enhancement

#89 add ipmi::default_channel param to fix chicken and egg failure
  .fixtures.yml
  REFERENCE.md
  manifests/init.pp
  manifests/network.pp
  manifests/snmp.pp
  manifests/user.pp
Labels: bug

#90 release 6.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
