Repository jhoblitt/puppet-ipmi, pull requests merged in 2024-01, with the labels that each got.

#70 ipmi::user: Mask passwords
  manifests/user.pp
Labels: enhancement

#71 Update from voxpupuli modulesync_config
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
  spec/spec_helper.rb
Labels: skip-changelog

#72 release 5.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#73 user: user correct quotes for password
  manifests/user.pp
Labels: bug

#74 release 5.3.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
